Reschedule Task.json
{
  "name": "Reschedule Task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reschedule-task",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        288
      ],
      "id": "04db10d4-08cd-48eb-9b1b-4f0606e32ef5",
      "name": "Reschedule Webhook",
      "webhookId": "8708b3fd-dbdd-47f7-bb1d-bfdfd526a873"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.message}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是一个任务重排请求解析助手。\n\n用户会输入一句自然语言，例如：\n- 统计学作业没完成\n- 英语论文今天做不完\n- 我的大数据报告还没完成\n- 机器学习作业没做完\n\n你的任务只有一个：\n从用户的话里，提取真正的任务名称 task_name。\n\n规则：\n\n1. 只保留任务本身名称\n2. 不要保留“没完成、还没完成、做不完、今天做不完、没做完、未完成、完成不了”等描述\n3. 删除句子里的状态信息，只留下任务名\n4. task_name 要尽量和任务表里的名称一致\n5. 不要输出解释\n6. 不要输出多余文字\n\n只返回 JSON，不要解释。\n\n格式必须是：\n\n{\n  \"task_name\": \"任务名称\"\n}\n\n示例：\n\n用户输入：\n统计学作业没完成\n\n输出：\n{\n  \"task_name\": \"统计学作业\"\n}\n\n用户输入：\n英语论文今天做不完\n\n输出：\n{\n  \"task_name\": \"英语论文\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        240
      ],
      "id": "9674c256-966d-46ce-96ab-cf3bbb076772",
      "name": "Parse Reschedule Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        512,
        544
      ],
      "id": "a5942d68-1ade-4467-b08f-2e4e82dab971",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "bAxlrBzQWhUDyWy1",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"task_name\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        528
      ],
      "id": "d5613170-66e3-4d10-9d25-263b8c01a5b6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "authentication": "feishuOauth2Api",
        "resource": "bitable",
        "operation": "bitable:table:record:search",
        "app_toke": "Ho4CbE1snav4p1s5nXJcpVnsn4h",
        "table_id": "tbl0XR1LFTR6EtY8",
        "user_id_type": "user_id",
        "body": "={{ JSON.stringify({\n  filter: {\n    conjunction: \"and\",\n    conditions: [\n      {\n        field_name: \"task_id\",\n        operator: \"is\",\n        value: [$json.task_id]\n      }\n    ]\n  }\n}) }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f13f36b9-59d3-424f-ac07-5707654d82e6",
      "name": "Search Task"
    },
    {
      "parameters": {
        "authentication": "feishuOauth2Api",
        "resource": "bitable",
        "operation": "bitable:table:record:search",
        "app_toke": "Ho4CbE1snav4p1s5nXJcpVnsn4h",
        "table_id": "tbl0XR1LFTR6EtY8",
        "page_size": 50,
        "body": "{\n  \"field_names\": [\n    \"task_id\",\n    \"task_name\",\n    \"status\",\n    \"remaining_minutes\"\n  ]\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "id": "a16b6b6c-1e13-453a-919d-9edd3cd0b0a5",
      "name": "Get Tasks Records",
      "credentials": {
        "feishuOauth2Api": {
          "id": "fT0BWEtEaQ2eJQn5",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawTargetName =\n  $node[\"Parse Reschedule Request\"]?.json?.output?.task_name || \"\";\n\nconst allTasks = $json.data?.items || [];\n\nfunction normalizeTaskName(text) {\n  return String(text)\n    .trim()\n    .replace(/没完成|还没完成|今天做不完|做不完|没做完|未完成|完成不了/g, \"\")\n    .trim();\n}\n\nconst normalizedTargetName = normalizeTaskName(rawTargetName);\n\nlet matched = null;\n\nfor (const item of allTasks) {\n  const fields = item.fields || {};\n  const nameField = String(fields.task_name?.[0]?.text || \"\").trim();\n\n  if (!nameField) {\n    continue;\n  }\n\n  const normalizedNameField = normalizeTaskName(nameField);\n\n  if (\n    normalizedNameField === normalizedTargetName ||\n    normalizedTargetName.includes(normalizedNameField) ||\n    normalizedNameField.includes(normalizedTargetName)\n  ) {\n    matched = {\n      record_id: item.record_id,\n      task_id: fields.task_id?.[0]?.text || \"\",\n      task_name: nameField,\n      status: fields.status || \"\"\n    };\n    break;\n  }\n}\n\nif (!matched) {\n  throw new Error(\"没有找到匹配的任务: \" + normalizedTargetName);\n}\n\nreturn [{ json: matched }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        176
      ],
      "id": "05026309-17a9-4eaf-af6c-af4b390ec33e",
      "name": "Find Task By Name"
    },
    {
      "parameters": {
        "authentication": "feishuOauth2Api",
        "resource": "bitable",
        "operation": "bitable:table:record:update",
        "app_toke": "Ho4CbE1snav4p1s5nXJcpVnsn4h",
        "table_id": "tbl0XR1LFTR6EtY8",
        "record_id": "={{$json.record_id}}",
        "body": "={\n  \"fields\": {\n    \"status\": \"Need Reschedule\"\n  }\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        976,
        384
      ],
      "id": "c61a3981-5bdd-423f-ab6a-41ccee707294",
      "name": "Update Task Status To Need Reschedule",
      "credentials": {
        "feishuOauth2Api": {
          "id": "fT0BWEtEaQ2eJQn5",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"task_name\": \"{{$node['Find Task By Name'].json['task_name']}}\",\n  \"new_status\": \"Need Reschedule\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        368
      ],
      "id": "db911c9e-463f-4a04-8cde-e9d95b17808c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Reschedule Webhook": {
      "main": [
        [
          {
            "node": "Parse Reschedule Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Reschedule Request",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parse Reschedule Request",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reschedule Request": {
      "main": [
        [
          {
            "node": "Get Tasks Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks Records": {
      "main": [
        [
          {
            "node": "Find Task By Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Task By Name": {
      "main": [
        [
          {
            "node": "Update Task Status To Need Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status To Need Reschedule": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9ca787e-51a5-40e3-985a-44637e3e30b8",
  "meta": {
    "instanceId": "a1be3aca92a433d449d48944996962aede040b8fc675a7216b5db33880489604"
  },
  "id": "Q0jDb9UGxBiXsRQN",
  "tags": []
}